@{
    ViewData["Title"] = "Home Page";


<div class="row row-cols-auto">
    @for (int i = 0; i < 10; i++) {
    <div class="col card bg-light m-3 p-2" style="max-width: 18rem;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="100%"><rect width="100%" height="100%" fill="#868e96" /></svg>
        <div class="card-body">
            <h5 class="card-title">Product title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>
    }
</div>
}
